.header {
    height: 300px;
    background-image: url(header_bg.jpg);
    /* contain 짧은 쪽에 맞춤, cover 긴 쪽에 맞춤 */
    background-size: contain;
}

.section {
    max-width: 540px;
    margin: 0 auto;
    padding: 150px 20px 0 20px;
}

.logo {
    font-family: Cafe24Ssurround, sans-serif;
    font-size: 40px;
    color: #ffffff;
}

.form {
    padding: 20px;
    background-color:burlywood;
    display: flex;
}

.form-btn {
    width: 24px;
    height: 24px;
    background: none;
    border: none;
    padding: 0;
    margin-right: 15px;
}

.form-img {
    width: 24px;
    height: 24px;
}

.form-text {
    font-family: SDMiSaeng, sans-serif;
    height: 24px;
    background: none;
    border: 0;
    padding: 0;
    color:floralwhite;
    font-size: 24px;
    flex: 1; 
    /* 부모요소 기준 버튼 빼고 나머지 가로길이 자동으로 채워줌 */
}

.form-text:focus {
    outline: none;
    border-bottom: 1px solid #ffffff;
}