.section {
    padding: 20px;
    background-color:burlywood;
    display: flex;
    justify-content: space-between;
}

.btn {
    background: none;
    border: none;
    color:floralwhite;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
    padding: 0;
}

.btn:hover {
    color:saddlebrown;
}    

.btn.active {
    color:cornflowerblue;
}

.left {
    color:floralwhite;
    font-size: 13px;
    height: 22px;
    line-height: 22px;
}